
# 1. System & IDE

.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace


# 2. Spring Boot / Maven / Gradle

vortex-core/target/
vortex-core/build/
vortex-core/.mvn/
vortex-core/mvnw
vortex-core/mvnw.cmd
*.class
*.jar
*.war
*.ear
*.log


# 3. Vue.js (Node / Vite / Webpack)

vortex-ui/node_modules/
vortex-ui/dist/
vortex-ui/dist-ssr/
vortex-ui/*.local
vortex-ui/.eslintcache
vortex-ui/npm-debug.log*
vortex-ui/yarn-debug.log*
vortex-ui/yarn-error.log*


# 4. Python

**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/
vortex-simulators/venv/
vortex-simulators/.env
vortex-analysis/venv/
.python-version


# 5. SQLite / Logs

*.db
*.db-journal
*.sqlite
logs/
*.out

# 6. Other Build Tools & Temp Files

.temp/
.cache/
tmp/